attrs==21.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
decorator==5.0.9; python_version >= "3.5"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
jinja2==3.0.1; python_version >= "3.6"
jsonpath-ng==1.5.3
jsonschema==3.2.0
logutils==0.3.5
markupsafe==2.0.1; python_version >= "3.6"
ply==3.11
pyrsistent==0.18.0; python_version >= "3.6"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rainbow-logging-handler==2.2.2
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
tabulate==0.8.9
toolz==0.11.1; python_version >= "3.5"
types-requests==2.25.6
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
mkdocs
mkdocstrings
plantuml-markdown
mkdocs-gen-files
mkdocs-gitbook
